* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

#survey-form {
    background-color: rgb(213, 216, 220);
    width: 70%;
    margin: 10px auto;
    padding: 10px;
}

#name, #email, select, #number {
    width: 100%;
}

#radio-btns, #checkboxes {
    display: inline-block;
    margin: 10px;
}

#comment {
    display: block;
    margin: 10px;
}

textarea {
    width:  100%;
    height: 100px;
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(52, 73, 95);
    color: #fff;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    #survey-form {
        width: 100%;
        margin: 0;
    }
}
